apps/base/monitoring/n8n-workflows/homelab-pr-auto-merge.workflow.json
{
  "name": "Homelab PR Auto-Merge & Notify",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "name": "Schedule (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const owner = $env.GITHUB_REPO_OWNER || 'kreativmonkey';\nconst repo = $env.GITHUB_REPO_NAME || 'homelab-gitops';\nconst token = $env.GITHUB_TOKEN;\nconst autoMergeUsers = ['renovate[bot]', 'kreativmonkey'];\nconst api = ($env.GITHUB_API_URL || 'https://api.github.com').replace(/\\/$/, '');\nconst baseUrl = api + '/repos/' + owner + '/' + repo;\nconst headers = { Authorization: 'Bearer ' + token, Accept: 'application/vnd.github+json' };\n\nasync function gh(path, opts) {\n  opts = opts || {};\n  return this.helpers.httpRequest({\n    method: opts.method || 'GET',\n    url: baseUrl + path,\n    headers: headers,\n    json: true,\n    body: opts.body || undefined,\n    timeout: 30000,\n  });\n}\n\nconst prs = await gh('/pulls?state=open&per_page=50');\nconst results = [];\n\nfor (const pr of prs) {\n  const author = pr.user.login;\n  const isAutoMerge = autoMergeUsers.includes(author);\n\n  if (!isAutoMerge) {\n    results.push({\n      telegramText: '👤 *New PR #' + pr.number + '* by @' + author + '\\n'\n        + (pr.title || '') + '\\n'\n        + pr.html_url,\n      parseMode: 'Markdown',\n    });\n    continue;\n  }\n\n  const checks = await gh('/commits/' + pr.head.sha + '/check-runs');\n  const hasFailure = checks.check_runs.some(function(c) { return c.conclusion === 'failure'; });\n  const allSuccess = checks.check_runs.every(function(c) { return c.conclusion === 'success'; });\n\n  if (!allSuccess) {\n    results.push({\n      telegramText: '⏳ *PR #' + pr.number + '* CI ' + (hasFailure ? 'failed' : 'pending') + ' (' + author + ')\\n'\n        + (pr.title || '') + '\\n'\n        + pr.html_url,\n      parseMode: 'Markdown',\n    });\n    continue;\n  }\n\n  try {\n    await gh('/pulls/' + pr.number + '/merge', {\n      method: 'PUT',\n      body: { merge_method: 'squash' },\n    });\n\n    results.push({\n      telegramText: '✅ *PR #' + pr.number + ' merged*\\n'\n        + (pr.title || '') + '\\n'\n        + '_by ' + author + '_',\n      parseMode: 'Markdown',\n    });\n  } catch (e) {\n    results.push({\n      telegramText: '❌ *PR #' + pr.number + ' merge failed*\\n'\n        + (pr.title || '') + '\\n'\n        + '_by ' + author + '_\\n'\n        + String(e.message || e),\n      parseMode: 'Markdown',\n    });\n  }\n}\n\nif (results.length === 0) {\n  results.push({\n    telegramText: 'ℹ️ *PR check*: No open PRs found',\n    parseMode: 'Markdown',\n  });\n}\n\nreturn results.map(function(r) { r.chatId = $env.TELEGRAM_CHAT_ID; return { json: r }; });\n"
      },
      "name": "Auto-Merge Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.telegramText }}",
        "additionalFields": {
          "parse_mode": "={{ $json.parseMode }}"
        }
      },
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule (30 min)": {
      "main": [
        [
          {
            "node": "Auto-Merge Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Merge Logic": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": null,
  "staticData": {
    "node:Schedule (30 min)": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "meta": null
}