apps/base/monitoring/n8n-workflows/homelab-pr-auto-merge.workflow.json
{
  "name": "Homelab PR Auto-Merge & Notify",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "n1",
      "name": "Schedule (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const owner = $env.GITHUB_REPO_OWNER || \"kreativmonkey\";\nconst repo = $env.GITHUB_REPO_NAME || \"homelab-gitops\";\nconst token = $env.GITHUB_TOKEN;\nconst autoMergeUsers = [\"renovate[bot]\"];\nconst api = ($env.GITHUB_API_URL || \"https://api.github.com\").replace(/\\/$/, \"\");\nconst llmBase = ($env.LLM_BASE_URL || \"https://api.openai.com/v1\").replace(/\\/$/, \"\");\nconst llmKey = $env.LLM_API_KEY || \"\";\nconst baseUrl = api + \"/repos/\" + owner + \"/\" + repo;\nconst headers = { Authorization: \"Bearer \" + token, Accept: \"application/vnd.github+json\" };\nconst PROCESSED_LABEL = \"auto-merge-done\";\n\nasync function gh(path, opts) {\n  opts = opts || {};\n  return this.helpers.httpRequest({\n    method: opts.method || \"GET\",\n    url: baseUrl + path,\n    headers: headers,\n    json: true,\n    body: opts.body || undefined,\n    timeout: 30000,\n  });\n}\n\nasync function addLabel(prNum) {\n  try {\n    await gh(\"/issues/\" + prNum + \"/labels\", {\n      method: \"POST\",\n      body: { labels: [PROCESSED_LABEL] },\n    });\n  } catch (_) {}\n}\n\nasync function getPrDiff(prNum) {\n  const files = await gh(\"/pulls/\" + prNum + \"/files\");\n  return files.slice(0, 10).map(function(f) {\n    return \"File: \" + f.filename + \" (\" + f.status + \", +\" + f.additions + \"/-\" + f.deletions + \")\\n\"\n      + (f.patch ? f.patch.slice(0, 2000) : \"(binary or empty)\");\n  }).join(\"\\n\\n---\\n\\n\");\n}\n\nasync function callLlm(systemPrompt, userContent) {\n  if (!llmKey) return null;\n  try {\n    const res = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: llmBase + \"/chat/completions\",\n      headers: {\n        Authorization: \"Bearer \" + llmKey,\n        \"Content-Type\": \"application/json\",\n      },\n      body: {\n        model: \"gpt-4o-mini\",\n        temperature: 0.2,\n        max_tokens: 800,\n        messages: [\n          { role: \"system\", content: systemPrompt },\n          { role: \"user\", content: userContent },\n        ],\n      },\n      json: true,\n      timeout: 30000,\n    });\n    return res?.choices?.[0]?.message?.content || null;\n  } catch (e) {\n    return null;\n  }\n}\n\nasync function postAiComment(prNum, assessment) {\n  try {\n    await gh(\"/issues/\" + prNum + \"/comments\", {\n      method: \"POST\",\n      body: { body: \"## AI Review\\n\\n\" + assessment + \"\\n\\n---\\n_Automated review by n8n_\" },\n    });\n  } catch (_) {}\n}\n\nconst prs = await gh(\"/pulls?state=open&per_page=50\");\nconst results = [];\n\nfor (const pr of prs) {\n  const author = pr.user.login;\n  const labels = (pr.labels || []).map(function(l) { return l.name; });\n\n  if (labels.indexOf(PROCESSED_LABEL) !== -1) continue;\n  if (pr.mergeable === null) continue;\n\n  // AI assessment for every new PR\n  try {\n    const diff = await getPrDiff(pr.number);\n    const assessment = await callLlm(\n      \"You are a Kubernetes GitOps code reviewer. \"\n      + \"Assess the PR diff for risk, correctness, and best practices. \"\n      + \"Reply in German. Keep it under 400 characters. \"\n      + \"Start with Risk: low/medium/high.\",\n      \"PR #\" + pr.number + \" by @\" + author + \"\\n\"\n      + \"Title: \" + (pr.title || \"\") + \"\\n\\nDiff:\\n\" + diff\n    );\n    if (assessment) {\n      await postAiComment(pr.number, assessment);\n    }\n  } catch (_) {}\n\n  // Non-auto-merge: notify once\n  if (autoMergeUsers.indexOf(author) === -1) {\n    results.push({\n      telegramText: \"\ud83d\udc64 *PR #\" + pr.number + \"* by @\" + author + \"\\n\"\n        + (pr.title || \"\") + \"\\n\"\n        + pr.html_url,\n      parseMode: \"Markdown\",\n    });\n    await addLabel(pr.number);\n    continue;\n  }\n\n  // Auto-merge candidate: check merge conflicts\n  if (pr.mergeable === false) {\n    results.push({\n      telegramText: \"\ud83d\udeab *PR #\" + pr.number + \"* merge conflict (\" + author + \")\\n\"\n        + (pr.title || \"\") + \"\\n\"\n        + pr.html_url,\n      parseMode: \"Markdown\",\n    });\n    await addLabel(pr.number);\n    continue;\n  }\n\n  // Check CI\n  const checks = await gh(\"/commits/\" + pr.head.sha + \"/check-runs\");\n  const hasFailure = checks.check_runs.some(function(c) { return c.conclusion === \"failure\"; });\n  const allSuccess = checks.check_runs.every(function(c) { return c.conclusion === \"success\"; });\n\n  if (!allSuccess) {\n    results.push({\n      telegramText: \"\u23f3 *PR #\" + pr.number + \"* CI \"\n        + (hasFailure ? \"failed\" : \"pending\") + \" (\" + author + \")\\n\"\n        + (pr.title || \"\") + \"\\n\"\n        + pr.html_url,\n      parseMode: \"Markdown\",\n    });\n    if (hasFailure) await addLabel(pr.number);\n    continue;\n  }\n\n  // Merge\n  try {\n    await gh(\"/pulls/\" + pr.number + \"/merge\", {\n      method: \"PUT\",\n      body: { merge_method: \"squash\" },\n    });\n    results.push({\n      telegramText: \"\u2705 *PR #\" + pr.number + \" merged*\\n\"\n        + (pr.title || \"\") + \"\\n\"\n        + \"_by \" + author + \"_\",\n      parseMode: \"Markdown\",\n    });\n  } catch (e) {\n    results.push({\n      telegramText: \"\u274c *PR #\" + pr.number + \" merge failed*\\n\"\n        + (pr.title || \"\") + \"\\n\"\n        + \"_by \" + author + \"_\\n\"\n        + String(e.message || e).slice(0, 200),\n      parseMode: \"Markdown\",\n    });\n  }\n  await addLabel(pr.number);\n}\n\nif (results.length === 0) {\n  return [];\n}\n\nreturn results.map(function(r) { r.chatId = $env.TELEGRAM_CHAT_ID; return { json: r }; });"
      },
      "id": "n2",
      "name": "Auto-Merge Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramText }}",
        "additionalFields": {
          "parse_mode": "={{ $json.parseMode }}"
        }
      },
      "id": "n3",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "PjDuVAMyMuFAKdWs",
          "name": "Telegram account"
        }
      },
      "webhookId": "6aaf42da-25cb-4e1a-8571-f2cd4c9ffa9f"
    }
  ],
  "connections": {
    "Schedule (30 min)": {
      "main": [
        [
          {
            "node": "Auto-Merge Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Merge Logic": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}